/* SIDEBAR */

/* .sidedrawer-left{
    color: #000;
    background: #fff;
}

.sidedrawer-list {
    color: #2f235e;;
    background-color: #fff;
}

.sidedrawer-header{
    color: #fff;
    background: #3e2f7e;
    margin-bottom: 20;
    font-size: 15;
    text-align: left;
}

.sidedrawer-icon{
    font-size: 26;
    margin: 10;
}

.sidedrawer-text{
    font-size: 18;
    margin: 10;
} */